# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.config
*.disabled
SitecoreLearnings.Web/App_Config/Include/EventHandler.config.example
*.example
SitecoreLearnings.Web/bin/Sitecore.Client.dll
SitecoreLearnings.Web/obj/Debug/AspnetCompileMerge/Source/bin/Sitecore.Kernel.dll
SitecoreLearnings.Web/obj/Debug/SitecoreLearnings.Webl.pdb
SitecoreLearnings.Web/obj/Debug/SitecoreLearnings.Webl.dll
