@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Web.UI.Controls.Common.UserControls
@model RenderingModel
@{
    var rendering = Html.Sitecore().Controls().GetUserControl(Model.Rendering);
    rendering.Class = "sc-listcontrol sc-SitecoreJobsList";
    rendering.Requires.Script("client", "SitecoreJobsList.js");

    //These are our properties
    rendering.GetString("jobitems", "jobitems");
    rendering.GetString("text", "text");
    //rendering.Getstring("noscjobs", "NoJobsText");
    //rendering.getstring("itemid", "itemid");
    
    var htmlAttributes = rendering.HtmlAttributes;
}

<div @htmlAttributes>
    <div data-bind="visible:jobitems().length<=0">
        @*No Sitecore Jobs to display!!*@
    </div>
    <div>
        <table class=" sc-table sc-table-header table">
            <thead>
                <tr>
                    <th class="sc-table-head">Job Name</th>
                    <th class="sc-table-head">Job Category</th>
                    <th class="sc-table-head">Job Status</th>
                    <th class="sc-table-head">Job Queue Time</th>
                    <th class="sc-table-head">Id</th>
                </tr>
            </thead>
        </table>
        <div class="sc-listcontrol-body">
            <table class="sc-table table">
                <tbody data-bind="foreach: jobitems">
                    <tr>
                        <td class="ventilate">
                            <span data-bind="text:JobName"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text:JobCategory"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text:JobStatus"></span>
                        </td>
                        <td class="ventilate">
                            <span data-bind="text:JobQueueTime"></span>
                        </td>
                        <td>
                            <span data-bind="text:ItemId"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>